<!-- <!DOCTYPE html>
<html>
  <head>
    <meta chartset="utf-8">
    <title>blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1><%= title %></h1>
    </header>
    <nav>
        <span><a href="/" title="主页">Home</a></span>
        <span><a href="/login" title="登录">Login</a></span>
        <span><a href="/reg" title="注册">Register</a></span>
    </nav>
  </body>
</html>
 -->
 <%- include header %>
 这里是主页